body {
  background-color: #FDD784;
}
.animation {
  animation: rotateImage 5s linear infinite; /* Rotation continue pendant 10 secondes */
}

@keyframes rotateImage {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
#cb-cookie-banner { position: fixed; bottom: 0; left: 0; width: 100%; z-index: 999; border-radius: 0; display: none; }
